<!DOCTYPE html>
<html>

  {% include header.html %}

  <body>
    <div class="container">
<header role="banner" style="background-color: {{ site.brand_color }}; padding: 20px;">
  <div class="wrap" style="display: flex; align-items: center;">
    {% if site.logourl != null %}
      <img class="logo" src="{{ site.baseurl }}{{ site.logourl }}" alt="{{ site.logoalt }}" width="150px" style="margin-right: 20px;">
    {% endif %}
    <h1 class="site-title" style="margin: 0;">
      <a class="title-link" href="https://app.powerbigov.us/view?r=eyJrIjoiMWE3YmY1MjEtZDIzMy00NGEwLWIwM2QtM2Q2YzNiY2QxNjMyIiwidCI6IjMxMmNiMTI2LWM2YWUtNGZjMi04MDBkLTMxOGU2NzljZTZjNyJ9" target="_blank" rel="noopener noreferrer" style="color: white; text-decoration: none;">
        {{ site.name }}
      </a>
    </h1>
  </div>
</header>
      <div class="wrap content">

        {% include sidebar.html %}

        <section id="main" class="main-content" role="main">
          {{ content }}
        </section>

      </div><!-- /.wrap content -->

      {% include glossary.html %}

      {% include footer.html %}

    </div> <!-- /.container -->
    </body>
    {% include scripts.html %}
</html>
